<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 로직</title>
<link rel="stylesheet" href="default.css">
    <script>
        const nickname = prompt('닉네임 입력');
        const email = prompt('이메일 입력');
        const password = prompt('패스워드 입력');
        const passwordConfirm = prompt('패스워드 확인 입력');
        const address = prompt('주소 입력');

        register.nickname = nickname;
        register.email = email;
        register.email = password;
        register.email = passwordConfirm;
        register.email = address;
        register.isOpen = true;
        console.log('111')

        
    </script>
</head>
<body>
    <div id="page">
        <input type="text" placeholder="nickname" value="{{ register.nickname }}"> 
        <input type="text" placeholder="email" value="{{ register.email }}"> 
        <input type="text" placeholder="password" value="{{ register.password }}"> 
        <input type="text" placeholder="passwordConfirm" value="{{ register.passwordConfirm }}"> 
        <input type="text" placeholder="address" value="{{ register.address }}"> 
        <input type="text" placeholder="isOpen" value="{{ register.isOpen }} ">   
    </div>
    <a href="/">Home</a>
</body>
</html>