<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 상세 조회</title>
<link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
        <p>email : {{ user.email }}</p>
        <p>nickname : {{ user.nickname }}</p>
        <p>address : {{ user.address }}</p>
        <p>createdAt : {{ user.createdAt }}</p>
        <p>updatedAt : {{ user.updatedAt }}</p>
        <button onclick="window.location.href = '/users/users_h/userEdit';">회원 수정</button>
        <button onclick="window.location.href = '/users/users_h/userDelete';">회원 탈퇴</button>
    </div>
    <div id="page">
        <button onclick="window.location.href = '/records/records_h/recordcreate';">기록 생성</button>
        <button onclick="window.location.href = '/records/records_h/recordall';">나의 기록 보기</button>
    </div>
    <a href="/">Home</a>
</body>
</html>