<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 상세 조회</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
        <p>그룹 제목 : {{ groups.title }}</p>
        <p>그룹 내용 : {{ groups.content }}</p>
        <p>카테고리 : {{ groups.category }}</p>
        <p>생성 날짜 : {{ groups.createdAt }}</p>
        <p>업데이트 날짜 : {{ groups.updatedAt }}</p>
        <button onclick="window.location.href = '/groups/{{ groups.groupId }}/groups_h/groupEdit';">그룹 수정</button>
        <form action="/groups/{{ groups.groupId }}?_method=DELETE" method="post">
            <button type="submit">그룹 삭제</button>
        </form>
        <button onclick="window.location.href = '/groups/{{ groups.groupId }}/schedules/schedules_h/schedulecreate';">스케줄 만들기</button>
        <button onclick="window.location.href = '/groups/{{ groups.groupId }}/schedules/schedules_h/scheduleall';">스케줄 조회하기</button>
        <div>
            <button onclick="window.location.href = '/groups/{{ groups.groupId }}/invite/group-members_h/groupinvite';">이 그룹에 초대</button>
            <button onclick="window.location.href = '/groups/{{ groups.groupId }}/accept/group-members_h/groupaccept';">그룹 맴버 수락</button>
        </div>
    </div>
    <a href="/">Home</a>
</body>
</html>