<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스케줄 상세 목록</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
        <p>title : {{ schedules.title }}</p>
        <p>content : {{ schedules.content }}</p>
        <p>scheduleDate : {{ schedules.scheduleDate }}</p>
        <p>createdAt : {{ schedules.createdAt }}</p>
        <p>updatedAt : {{ schedules.updatedAt }}</p>
        <button type="submit" onclick="window.location.href = '/groups/{{ schedules.groupId }}/schedules/{{ schedules.scheduleId }}/schedules_h/scheduleEdit';">스케줄 수정하기</button>
    <form action="/groups/{{ schedules.groupId }}/schedules/{{ schedules.scheduleId }}?_method=DELETE" method="post">
        <button type="submit">스케줄 삭제하기</button>
    </form>
    </div>
    <a href="/">Home</a>
</body>
</html>